<div class="table">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="idSolicitacao">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" mat-sort-header>Número</th>
                <td mat-cell *matCellDef="let solicitacao" class="th-celulas">
                    {{ solicitacao.idSolicitacao }}
                </td>
            </ng-container>

            <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" mat-sort-header>Bairro</th>
                <td mat-cell *matCellDef="let solicitacao" class="th-celulas">
                    {{ solicitacao.bairro }}
                </td>
            </ng-container>

            <ng-container matColumnDef="rua">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" mat-sort-header>Rua</th>
                <td mat-cell *matCellDef="let solicitacao" class="th-celulas">
                    {{ solicitacao.rua }}
                </td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" mat-sort-header>Categoria</th>
                <td mat-cell *matCellDef="let solicitacao" class="th-celulas">
                    {{ getCategoria(solicitacao.categoria) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef class="th-titulo">Descrição</th>
                <td mat-cell *matCellDef="let solicitacao" class="th-celulas">
                    {{ solicitacao.descricao }}
                </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef class="th-titulo">Ações</th>
                <td mat-cell *matCellDef="let solicitacao" class="coluna-acoes th-celulas">
                    <button mat-button class="btn-acoes">Responder</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>