.row {
    width: 100%;
    text-align: center;
}

.col-md-12 {
    width: 500px;
}

.bot-cadastrar {
    background: #007390;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    margin: 20px;
    max-width: 530px;
    width: 800px;
    margin: 0 auto;
}

.example-full-width {
    width: 100%;
}