.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.bot-login {
    width: 100%;
    background: #007390;
    color: white;
    margin-bottom: 5px;
}

.content {
    padding: 5px;
}

.input-login {
    padding: 9px 15px 7px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input.mat-input-element {
    margin-top: 0.1125em;
}

.cardLogin {
    position: absolute;
    max-width: 100%;
    min-width: 100%;
}

.container {
    min-height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    height: 100%;
}