<div class="form-container">
    <form [formGroup]="administrador" style="margin-top: 50px;">

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="usuario" maxlength="40" placeholder="Usuário">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="senha" maxlength="80" placeholder="Senha">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Permissões" multiple formControlName="permissoes">
                <mat-option *ngFor="let permissao of permissoes" [value]="permissao.value">
                    {{ permissao.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>

    <div style="text-align: center;">
        <button class="bot-cadastrar" (click)="cadastraEdita()" color="primary" mat-button> {{ acaoBotao }} </button>
    </div>

</div>

<div class="table">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" style="text-align: left;">Usuários(as)</th>
                <td mat-cell *matCellDef="let administrador" class="th-celulas" style="text-align: left;">
                    {{ administrador.usuario }}
                </td>
            </ng-container>

            <ng-container matColumnDef="permissao">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" style="text-align: left;">Permissão</th>
                <td mat-cell *matCellDef="let administrador" class="th-celulas" style="text-align: left; white-space: pre;">
                    {{ permissaoToString(administrador.permissao) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" style="text-align: left;">Editar</th>
                <td mat-cell *matCellDef="let administrador" class="coluna-acoes th-celulas" style="text-align: left;">
                    <button mat-button class="btn-editar" (click)="edita(administrador)">Editar</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="deletar">
                <th mat-header-cell *matHeaderCellDef class="th-titulo" style="text-align: left;">Deletar</th>
                <td mat-cell *matCellDef="let administrador" class="coluna-acoes th-celulas" style="text-align: left;">
                    <button mat-button class="btn-deletar" (click)="deleta(administrador)">Deletar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>